numpy == 1.26.4
pandas == 2.3.3
matplotlib == 3.10.8
seaborn == 0.13.2
gymnasium == 1.2.3
stable-baselines3 == 2.7.1
pyyaml == 6.0.3
wandb == 0.23.1
streamlit == 1.52.2
plotly == 6.5.0
scipy == 1.15.3
statsmodels == 0.14.6
tensorboard == 2.20.0

torch==2.3.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121